h1 {
    background: #058167;
}



p {
    background-color: rgb(189, 182, 92);
    text-justify: auto;
}

#vi {
    font: small-caption;
    background-color:black;
}



.vision {
    text-align: left;
    width: 750px;
    margin: auto;
    text-justify: auto;
    background-color: lightpink;
    border-block-color: black;
    border: black;
}

body {
    background-color: lightsalmon;
}

.contact {
    width: 750px;

}

.foo {
   background-color: #058167; 
}

