p {
    font-family: "Mystery Quest", cursive;
  font-size: 250%;

  color: gold;
}

body {
    
    background-color: bisque;

}




.bd-example {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding : 3%;

}

.navbar-light .navbar-nav .nav-link  {
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }


/*estilos login*/


.nav {
    background: #058167;
    position: -ms-page;
}

.navbar-nav {
    background: #058167;
    position: -ms-page;
}

footer {
    background-color: #058167; 
 }
 

